body {

}

.content {
    background: rgb(220, 220, 220);
    border-radius: 5px;
    padding: 20px;
}

.user-match {
    border-bottom: 1px solid #a1a39d;
    padding: 15px 10px;
}

.logo-title {
    color: brown;
    font-size: 50px;
    font-weight: bolder;
}

.type-title {
    font-size: 30px;
    color: black;
}